<md-dialog class="customDialogBox frmModal" aria-label="cusTool">

  <md-toolbar>
      <div class="md-toolbar-tools">
         <h2>CHANGE CURRENCY</h2>
         <span flex></span>
         <md-button href class="md-icon-button" ng-click="vm.cancel()">
            <md-icon  md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
         </md-button>
      </div>
   </md-toolbar>
   <div class="dialogContent" layout="column" flex>
   <md-content ms-scroll flex>
   <form ng-submit="$event.preventDefault()" name="changeCurrency" novalidate class="pad_32">

       <!-- <div layout layout-sm="column" layout-margin>
         <md-input-container  flex style="width: 100%">
              <md-select placeholder="Select A Currency" ng-model="vm.currency" md-no-asterisk=""  name="terms">
                  <md-optgroup >
                      <md-option ng-repeat="pay in vm.currencyArr track by $index"  value="{{pay}}" >{{pay}}</md-option>
                  </md-optgroup>
              </md-select>
          </md-input-container>
      </div> -->

      <div flex style="width: 560px; margin-left: 9px;">
        <ms-currency-lookup placeholder="'Select Currency'" required="true"></ms-currency-lookup>
      </div>

      <div  layout="row" layout-align="end end">
              <label style=" font-size: 12px; color: #b8b894;padding-right: 15px">Base Currency {{vm.baseCurrency}}</label>
      </div>
          
      <div layout layout-sm="column" layout-margin>
          <md-input-container md-no-float  style="padding-top: 10px; width: 100%;padding-bottom: 0px;margin-bottom: -10px">
              <input placeholder="Exchange Rate"  ng-model="vm.exchangeRate" required>
          </md-input-container>
       </div>
       <div  layout="row" layout-align="end end" ng-show="false">
              <label style=" font-size: 12px; color: #b8b894;padding-right: 15px;margin-top: -50px">exchange rate is calculated based on base currency</label>
      </div>

       <div layout layout-sm="column" layout-margin>
              <label flex  style=" font-size: 12px; color: #b8b894;text-align: center;"><span>Selected Currency<span></label>
              <lable flex="1" style="font-size: 20px">=</lable>
              <label flex  style=" font-size: 12px; color: #b8b894;text-align: center;"><span>Base Currency</span></label>
      </div>
      <div layout layout-sm="column" layout-margin style="margin-top: -10px">
              <label flex  style=" font-size: 12px; color: #b8b894;text-align: center;margin-top: 0px;font-weight: 500;color: black;">{{vm.currency.currency}} 1</label>
              
              <label flex  style=" font-size: 12px; color: #b8b894;text-align: center;margin-top: 0px;font-weight: 500;color: black;">{{vm.baseCurrency}} {{vm.exchangeRate |number:2}}</label>
      </div>

      <div layout layout-sm="column" layout-margin ng-show="false">
              <label flex  style=" font-size: 12px; color: #b8b894;text-align: center;"><span>Total Amount In Selected Currency<span></label>
              <lable flex="1" style="font-size: 20px">=</lable>
              <label flex  style=" font-size: 12px; color: #b8b894;text-align: center;"><span>Total Amount In Base Currency</span></label>
      </div>
      <div layout layout-sm="column" layout-margin style="margin-top: -10px" ng-show="false">
              <label flex  style=" font-size: 12px; color: #b8b894;text-align: center;margin-top: 0px;font-weight: 500;color: black;">{{vm.currency.currency}} 


              <span ng-if="vm.isInfinityOrNaN(vm.TotalInSelectedCurrency / vm.exchangeRate)">{{vm.TotalInSelectedCurrency / vm.exchangeRate |number:2}}</span>

              </label>
              
              <label flex  style=" font-size: 12px; color: #b8b894;text-align: center;margin-top: 0px;font-weight: 500;color: black;">{{vm.baseCurrency}} {{vm.TotalInBaseCurrency |number:2}}</label>
      </div>
      
    </form> 
    </md-content>
    </div>
       <!--<div class="dialogFooter pad_16" layout="row">
        <span flex></span>
          <md-button href ng-click="vm.ChangeCurrency(vm.currency)" style="border:2px solid" 
          class="md-primary">save</md-button>
        </div>-->
        <div class="dialogFooter">
        <span flex></span>
          <md-button ng-click="vm.ChangeCurrency(vm.currency)" ng-disabled="changeCurrency.$invalid" style="border:2px solid" 
          class="md-primary">save</md-button>
          <span flex></span>
          <md-button ng-click="vm.resetToBaseCurrency()" style="border:2px solid; margin-right: 10px"
          class="md-primary">reset</md-button>
        </div>

   
</md-dialog>