<div id="comingsoon-manage-plan-tab" layout="column" style="margin-top:32px; margin-bottom:32px;">
	<div class="comingsoonBannerContainer md-whiteframe-1dp" layout="column" layout-align="center center" style="width:450px; background:#fff; padding:32px;">
        <img src="assets/images/branding/coming_soon_apps.png" width="153" height="97">
        <span style="margin-top: 18px; font-size:15px; ">Hello there, our team is working on releasing this feature very soon, please stay tuned !</span>
    </div>
</div>