<md-dialog class="dialogEmail frmModal emailModal" aria-label="uploader" layout="column" layout-align="center start">

 <ms-spinner-component name="est-email-spinner" size="32" relative-position="false" on-loaded="vm.estEmailSpinnerLoaded(spinnerApi)"></ms-spinner-component>

<ms-spinner-component name="est-emailSend-spinner" size="32" relative-position="false"></ms-spinner-component>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>SEND ESTIMATE</h2> 
            <span flex></span>
            <md-button href class="md-icon-button" ng-click="vm.cancel()">
                <md-icon  md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div class="dialogContent" layout="column" flex>

    <md-content ms-scroll flex>
    <!-- <div class="loading-items" layout layout-align="center center" ng-if="vm.isLoading">
        <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="64"></md-progress-circular>
        <div>Loading...</div>
    </div> -->
    
    <div class="content" ng-if="!vm.isLoading">
        <form name="cusForm" ng-submit="vm.submit()" >
            <div layout layout-sm="column" layout-margin style="margin-left: 2px;">
                <md-chips flex ng-model="vm.Sender" class="md-primary" readonly="false" placeholder="To" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+To">
                </md-chips>
            </div>
             <div layout flex style="margin-left: 10px;">
                <span ng-show="vm.senderempty" style="font-size:12px;color:red;" >enter email here</span>
            </div>
            <div layout layout-sm="column" layout-margin style="margin-left: 2px;">
                <md-chips flex ng-model="vm.bcc" class="md-primary" readonly="false" placeholder="Bcc" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Bcc">
                </md-chips>
            </div>

            <div layout layout-sm="column" layout-margin class="inputHeight" style="margin-left:0px;">
                <md-input-container flex md-no-float> 
                    <input type="text" ng-model="vm.subject" placeholder="Subject" />
                </md-input-container>
            </div>
            <div layout class="pre-tag" layout-sm="column" layout-margin layout-align="start start">
                <p ng-bind-html="vm.emailBody" style="white-space: pre;"></p>
            </div>
            <div layout layout-sm="column" layout-margin class="inputHeight">
                <div  flex="44" class="attact-pdf">        
                    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="vm.PDFattached" class="md-primary">
                        Attach Estimate
                    </md-checkbox>
                </div>
              <!--   <div flex="5" class="pdf-icon" ng-show="vm.PDFattached">   
                    <md-icon md-font-icon="icon-file-pdf"  style="color:rgb(45, 98, 150)"></md-icon>
                </div>   
                <div flex="25" layout layout-align="center center" class="pdf-name" ng-show="vm.PDFattached">
                    {{vm.test.estimateNo}}.pdf
                </div> -->
                <div class="attachement-pill" layout="row" ng-if="vm.PDFattached">
                    <div class="att-pill-icon">
                        <md-icon md-font-icon="icon-file-pdf" style="color:rgb(45, 98, 150)"></md-icon>
                    </div>
                    <div class="att-pill-cont" layout="row">
                        <span>{{vm.test.estimateNo}}</span>
                        <span>.pdf</span>
                    </div>
                </div>
            </div>

            <div layout layout-sm="column" layout-margin class="inputHeight">
                <div  flex="44" class="attact-pdf">        
                    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="vm.productProcherAttached" class="md-primary">
                        Attach Product Brochures
                    </md-checkbox>
                </div>
            </div>
            <div layout layout-sm="column" layout-margin class="inputHeight">
                <div ng-if="vm.productProcherAttached">
                    <!-- <div style="padding-left:11px; font-weight:500; ">Product Brochures</div> -->
                    <div style="padding-left: 11px;" class="brochure-error" ng-if="vm.brochers.length===0">Brochures are not available. Please upload a brochure</div>

                    <div layout layout-sm="column" layout-margin class="inputHeight" ng-repeat="bro in vm.splitBrochers">
                       <!--  <div flex="5" class="pdf-icon">   
                            <md-icon md-font-icon="icon-file-pdf" style="color:rgb(45, 98, 150)"></md-icon>
                        </div>   
                        <div flex="25" layout layout-align="center center" class="pdf-name" >
                            {{bro.name}}
                        </div>  -->
                        <div class="attachement-pill" layout="row">
                        <div class="att-pill-icon">
                            <md-icon md-font-icon="icon-file-pdf" style="color:rgb(45, 98, 150)"></md-icon>
                        </div>
                        <div class="att-pill-cont" layout="row">
                            <span>{{bro.fileName}}</span>
                            <span>{{bro.fileExtension}}</span>
                        </div>
                        </div>

                    </div>

                </div>
            </div>

        </form>
    </div>
</md-content>
</div>
    <div class="footer"  > 
        <md-button ng-disabled="vm.sendDisabled" flex="10" class="md-primary" style="border: 2px solid;" ng-click="vm.sendmail()">
          send
      </md-button> 
  </div>
</md-dialog>