#setting {

        .md-content{
            .form{
            .md-list{
                 .subHeader{
                        background-color:#f6f6f6; 
                        height:45px;
                        width:100%;
                        .title{
                            margin-left:15px; 
                            font-size: 18px;
                        }
                        }
                .header{
                    background-color:#f6f6f6; 
                    height:45px;width:100%;
                }

                .layout{
                    padding:0px 0px 10px;
                    .as-sortable{
                    .ng-repeat{

                    .inactivate{
                        background: #D8D7D7;
                    }

                    }

                    }

                }

            }

            }
        }
    

.footersection{
width:100%;
height: 64px;
padding: 31.5px 24px !important;
border-top:1px solid rgba(0, 0, 0, 0.12);
}

}