	<div class="compose" layout="column" >
				<div class="mainsection" layout="column" layout-align="start start"  >
					<div class="subMain" >
						<div class="info" layout="column">  
							<div class="maininfosection" layout="row" layout-align="start start">

								 
								<div class="projectinfo" flex > 

				                    <div layout="row" layout-gt-sm="row" class ="inputHeight" >
			                            <md-input-container flex md-no-float> 
						                  	<input placeholder="Project Name" name="projectName" required type="text" ng-model="vm.project.name" ng-minlength="3" autofocuss /> 
					                        <div ng-messages="projectForm.projectName.$error"
					                         ng-if="projectForm.projectName.$touched"> 
										        <p ng-message="required">Project name is required.</p>  
										        <p ng-message="minlength">enter atleast 3 characters...</p>
										    </div>
				                        </md-input-container>
							            <div style="width:5%;"></div> 
						                <md-datepicker ms-fix-datepicker  style="position: relative;right: 15px;" flex ng-model="vm.project.date" md-placeholder="Date"></md-datepicker> 
				                    </div> 
				                    <div layout="column" layout-gt-xs="row" class="inputHeight">
				                            <md-input-container flex md-no-float> 
							                  <textarea placeholder="Project Description" maxlength="500" type="text" ng-model="vm.project.descriptions">
							                  </textarea>
							               </md-input-container>
				                    </div> 
				                    <div layout="column" layout-gt-xs="row" class="inputHeight">
				                        <ms-profile-lookup flex="50" placeholder="'Customer'" required="false" editoptions="false" lookupclass="'Customer'"></ms-profile-lookup> 
							            <div style="width:5%;"></div>  
			                            <md-input-container flex="50" md-no-float> 
						                  	<input placeholder="Budgeted Hours" type="text" ng-model="vm.project.bhours"/>  
				                        </md-input-container>
				                    </div>  
				                    <div layout="column" layout-gt-xs="row" class="inputHeight">
				                         
				                        <md-input-container flex="50" md-no-float>  
						                  	<md-select placeholder="Billing Method"  ng-change="vm.onChange(vm.project.billingMethod)" 
						                  	ng-model="vm.project.billingMethod" flex>
						                     	<md-optgroup label="Billing Method">
						                     	<md-option value="Hourly Staff Rate">Hourly Staff Rate</md-option>
						                     	<md-option value="Hourly Task Rate">Hourly Task Rate</md-option>
						                     	<md-option value="Hourly Project Rate">Hourly Project Rate</md-option>
						                     	<md-option value="Flat Project Amount">Flat Project Amount</md-option>
						                  	</md-select>
										</md-input-container>
										<div style="width:5%;"></div> 
										<div flex="50"  ng-if="!vm.hourlyRateVisible && !vm.flatProjectVisible" ></div>  
										<md-input-container flex="50" ng-if="vm.hourlyRateVisible"  md-no-float> 
						                  	<input  placeholder="Hourly Project Rate"  ng-model="vm.project.hpRate" >
						               	</md-input-container>
						               	<md-input-container flex="50" ng-if="vm.flatProjectVisible"  md-no-float> 
						                  	<input  placeholder="Flat Project Amount" ng-model="vm.project.fpAmount" >
						               	</md-input-container>
				                    </div>			               
								</div>
							</div> 
						</div>
						<div class="optional" layout="row" layout-align="start start">
							  <div class="details">Staff Members </div>
						</div> 
						<div class="auto inputHeight" layout="row" style="padding: 0px 32px;" ng-repeat="item in vm.addstaffs track by $index"> 
							<md-autocomplete flex class="no-float" 
								md-no-cache="true"
			                  	md-selected-item="item.userItem" 
			                  	md-search-text="vm.userText[$index]" 
			                  	md-items="ss in vm.userSearch(vm.userText[$index])" 
			                  	md-item-text="ss.firstName" 
			                  	md-floating-label="Select a User" 
			                  	md-selected-item-change="vm.userChange($index,item.userItem)" >
			                  	<md-item-template>
			                     <span class="item-title">
			                          <span>{{ss.firstName}} {{ss.email}}</span>
			                     </span>                           
			                  	</md-item-template>
			               	</md-autocomplete>
							<div style="width:5%;"></div> 
			               	<md-input-container flex md-no-float> 
			                  <input ng-model="item.shr" placeholder="Hourly Rate" ng-disabled="vm.staffHourRateDisable">
			               	</md-input-container> 
	                		<md-icon ng-if="$index !== 0" class="removeBtn" md-font-icon="icon-minus-circle-outline" ng-click="vm.removeStaff($index,item)"></md-icon>

						</div>
						<div  layout="row" style="padding: 0px 20px 6px 20px;" >	 
			                <md-button class="add_lineitemBtn md-primary" ng-click="vm.addstaff()">
			                    <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
			                    Add Staff
	                		</md-button>
						</div>
						<div class="optional" layout="row" layout-align="start start">
							  <div class="details">Tasks</div>
						</div> 
						<div class="auto inputHeight" layout="row" style="padding: 0px 32px;"  ng-repeat="item in vm.addtasks track by $index">
							<md-autocomplete class="no-float"  flex md-no-cache="noCache"
				                  md-selected-item="vm.taskItem[$index]" 
				                  md-search-text="vm.taskText[$index]" 
				                  md-items="ss in vm.taskSearch(vm.taskText[$index])" 
				                  md-item-text="ss.task" 
				                  md-floating-label="Select or enter a task" 
				                  md-selected-item-change="vm.taskChange($index,vm.taskItem[$index])" >
				                  <md-item-template>
				                      <span class="item-title">
				                          <span>{{ss.task}} </span>
				                      </span>                           
				                  </md-item-template> 
				               	</md-autocomplete> 
								<div style="width:5%;"></div> 
				               	<md-input-container flex md-no-float> 
				                  <input ng-model="item.thr" placeholder="Hourly Rate" ng-disabled="vm.taskHourRateDisable">
				               	</md-input-container> 
				               	 <md-icon class="removeBtn" md-font-icon="icon-minus-circle-outline" ng-click="vm.removeTask($index,item)"></md-icon>  
	                	</div>
						<div layout="row" style="padding: 0px 20px 6px 20px;" >	 
			                <md-button class="add_lineitemBtn md-primary" ng-click="vm.addtask()">
			                    <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
			                    Add Tasks
	                		</md-button>
						</div>
						<div class="optional" layout="row" layout-align="start start">
							  <div class="details">Option Details</div>
						</div>
						<div layout="row" layout-gt-sm="row"  style="padding:32px;" >
                            <md-input-container flex md-no-float> 
			                  	<input placeholder="Note" name="projectNote" type="text" ng-model="vm.project.notes"/> 
	                        </md-input-container> 
	                        <div style="width:5%;"></div> 
							<md-button flex="20" class="md-primary" style="border:2px solid;height: 40px;" 
										app-uploader="vm.brochureConfig" result="vm.setMedia(res)">
								<md-icon md-font-icon="icon-cloud-upload"></md-icon>
								<span style="padding: 10px">File Upload</span>
							</md-button> 
	                    </div> 
					</div>
					<!-- <div class="notes">notes section</div>
					<div class="optional">optional section</div> -->
				</div>
			</div>