#setting {
    .md-content{
        .subHeader{
                    background-color:#f6f6f6; 
                    height:48px;
                    width:100%;
                    .title{
                        margin-left:15px; 
                        font-size: 18px;
                    }
                }

             
    }
}