#setting {
    
    .form{
        font-size:15px;
        .md-content{
            .md-list{
                .subHeader{
                    background-color:#f6f6f6; 
                    height:45px;
                    width:100%;
                    .title{
                        margin-left:15px; 
                        font-size: 18px;
                    }
                }
            }
        }
    }  

    .footersection{
    width:100%;
    height: 64px;
    padding: 31.5px 24px !important;
    border-top:1px solid rgba(0, 0, 0, 0.12);
    }

}
