.dialog-uploader {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 13px 19px 2px rgba(0,0,0,0.14),0px 5px 24px 4px rgba(0,0,0,0.12);
    .customFileUploader {
        background: white;
        width: 640px;
        .tool-bar {
            height: 48px;
        }
        .content {
            width: 100%;
            padding: 0px;
            .lf-ng-md-file-input {
                margin: 0px;
                .lf-ng-md-file-input-preview-container {
                    margin-bottom: 0px;
                    box-shadow: none;
                    border-image: none;
                    border-radius: 0px;
                    border: none;
                    .lf-ng-md-file-input-drag {
                        .lf-ng-md-file-input-drag-text-container {
                            .lf-ng-md-file-input-drag-text {
                                font-size: 30px;
                                font-weight: 300;
                                color: rgba(0,0,0,0.26);
                            }
                            .lf-ng-md-file-input-drag-sub-text {
                                font-size: 15px;
                                font-weight: 500;
                                color: rgba(0,0,0,0.26);
                            }
                            .lf-ng-md-file-input-button {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .footer {
	            width: 100%;
	            padding: 12px 24px;
	            border-top: 1px solid rgba(0,0,0,0.12);
	            button {
	                float: right;
	                margin: 0px;
	            }
                .error{
                    padding: 4px;
                    color: rgba(189,0,0,0.8); 
                    font-size: 15px;
                    font-weight: 500;
                }

	        }
        }
        
    }
}