<div id="threesixty-contactinfo-widget-component" class="threesixty-component-styling side-margin-left" layout="column" flex>
    <div class="widget-component-header">
        Contact Information
    </div>
    <div class="widget-component-content pad_32" layout="column">
        <div class="contentrow" flex layout="row">
            <div class="propertycell">COMPANY NAME</div>
            <div class="valuecell" flex>{{vm.customerDetails.companyName}}</div>
        </div>
        <div class="contentrow" flex layout="row">
            <div class="propertycell">BILLING ADDRESS</div>
            <div class="valuecell" flex>{{vm.customerDetails.billingAddress}}</div>
        </div>
        <div class="contentrow" flex layout="row">
            <div class="propertycell">CONTACT PERSON</div>
            <div class="valuecell" flex>{{vm.customerDetails.contactPerson}}</div>
        </div>
        <div class="contentrow" flex layout="row">
            <div class="propertycell">EMAIL</div>
            <div class="valuecell" flex>{{vm.customerDetails.email}}</div>
        </div>
        <div class="contentrow" flex layout="row">
            <div class="propertycell">TELEPHONE</div>
            <div class="valuecell" flex>{{vm.customerDetails.telephone}}</div>
        </div>
        <div class="contentrow" flex layout="row">
            <div class="propertycell">MOBILE</div>
            <div class="valuecell" flex>{{vm.customerDetails.mobile}}</div>
        </div>
    </div>
</div>