<md-dialog class="customDialogBox"  aria-label="Mango (Fruit)">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Change Estimate Sequence</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-icon md-font-icon="icon-close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div class="dialogContent pad_32">
		<form name="editForm" novalidate>
			<md-content flex>
				<div layout layout-sm="column" layout-margin>
					<md-input-container md-no-float flex>
						<input name="changePrefix" ng-model="vm.changePrefix" type="text" placeholder="Change Invoice Sequence" maxlength="3">
					</md-input-container>
					<md-input-container md-no-float style="margin-left: 20px !important;" flex>
						<input name="changeSequence" ng-model="vm.changeSequence" type="text" placeholder="Change Estimate Sequence">
					</md-input-container>
				</div>

			</md-content>
		</form>
	</div>
	<div class="dialogFooter">
		<md-button class="md-primary" ng-click="vm.submit()" ng-disabled="editForm.$invalid" >
			Change
		</md-button>
		<md-button class="md-primary md-hue-3 " ng-click="vm.cancel()">
			Cancel
		</md-button>
	</div>
</md-dialog>