<div id="mainview" layout="column" layout-align="center center">
	<div class="processHolder" layout="row" layout-align="center center">
		<div class="process addbusiness md-whiteframe-1dp" layout="column" layout-align="center center">
			<img src="assets/images/branding/add_business.jpg" width="200" height="200"/>
			<md-button ng-click="vm.businessProcessNav('add');" class="md-primary" ng-click="vm.submit()" style="border:2px solid">Add Business</md-button> 
		</div>
		<div class="process joinbusiness md-whiteframe-1dp" layout="column" layout-align="center center">
			<img src="assets/images/branding/join_business.jpg" width="200" height="200"/>
			<md-button ng-click="vm.businessProcessNav('join');" class="md-primary" ng-click="vm.submit()" style="border:2px solid">Join Business</md-button> 
		</div>
	</div>
</div>