#Payment {

    .center {

        .content-card {
            

            .content-wrapper {

                .thread-detail{
                    position:relative; 

                    .compact {
                        padding: 0;
                        
                        .payment-container {

                            .detail-wrapper {
                                width: 100%;
                                min-width: 100%;
                                max-width: 100%;
                                overflow: hidden;
                                background: #FFFFFF;
                                
                                .detailProgress{
                                    width: 100%;
                                    height:100%;
                                    position: absolute;
                                    z-index: 9;
                                    background-color: white;
                                    opacity: .9;
                                }

                                .detail-header {
                                    height:auto;
                                    min-height:300px;
                                    padding-bottom:16px;

                                    .ids {
                                        line-height: 22px;
                                        color: rgba(0, 0, 0, 0.54);

                                        .detail {
                                            width: 320px;
                                            margin-top: 5px;
                                            margin-bottom: 7px;
                                        }

                                        .seller {
                                            margin-bottom: 48px;
                                            padding-left: 16px;

                                            .logo {
                                                width: 156px;
                                                height: 156px;
                                                font-size: 115px;
                                            }
                                        }

                                        .client {
                                            padding-left:16px;

                                            .logo {
                                                width: 156px;
                                                height: 156px;
                                                font-size: 115px;
                                            }
                                        }

                                        .divider {
                                            width: 1px;
                                            margin: 0 16px;
                                            background-color: rgba(0, 0, 0, 0.12);
                                            height: 144px;
                                        }
                                    }

                                    .summary {
                                        font-size: 15px;

                                        .space{
                                            min-height:100px;
                                        }

                                        .spacecustomFieldAll{
                                        min-height:26px;
                                        }

                                        .spacecustomFieldOne{
                                        min-height:70px;
                                        }

                                        .customField{
                                        padding-bottom: 8px;
                                        .customerFieldHeight{
                                            max-height: 38px;
                                        }
                                        }


                                        .tableSpacer{
                                            height:149px; 
                                        }

                                        .label {
                                            color: rgba(0, 0, 0, 0.54);
                                            text-align: right;
                                            padding-right: 16px;

                                            &.cellSpacer{
                                                padding-top:8px;
                                                padding-bottom:8px;
                                            }
                                        }
                                        .label2 {
                                            color: rgba(0, 0, 0, 0.54);
                                            text-align: right;
                                           

                                            &.cellSpacer{
                                                padding-top:8px;
                                                padding-bottom:8px;
                                            }
                                        }

                                        .value {
                                            color: rgba(0, 0, 0, 1);
                                            min-width: 149px;

                                            &.cellSpacer{
                                                padding-top:8px;
                                                padding-bottom:8px;
                                            }
                                        }

                                        .code {
                                            font-size: 35px;
                                            font-weight: 300;
                                            height:45px;

                                            td {
                                                padding-bottom: 32px;
                                            }
                                        }
                                    }
                                }
                                .pay-comment{
                                    display:block; 
                                    width:100%;
                                    padding-left:18px;
                                    margin:0px 18px;
                                    height:48px;
                                    line-height:48px;
                                    font-weight:500;
                                    font-size:15px;
                                    color:rgba(0,0,0,0.87);
                                }

                                .detail-content {

                                    .payment-table{

                                       width:100% !important;
                                        margin-top: 0px;
                                        font-size: 15px;
                                        padding:0px 14px;
                                        border-collapse: separate;
                                        color:black;

                                        thead{
                                            font-weight:500;
                                          
                                            border-bottom:none !important;
                                            white-space:nowrap;
                                            min-width:0px !important;

                                            tr{
                                                th{
                                                    padding:8px !important;
                                                    padding-bottom:16px !important;
                                                }
                                            }

                                        }

                                        tbody{

                                            tr{

                                                td{
                                                    padding:8px !important;
                                                    border-bottom:1px solid rgba(0, 0, 0, 0.12);
                                                }

                                            }
                                        }

                                         .title {
                                            font-weight:500;
                                        }

                                        .detail {
                                            margin-top: 0px;
                                            font-size: 12px;
                                            color: rgba(0, 0, 0, 0.54);
                                        }

                                        .text-left{
                                            text-align:left; 
                                        }

                                        .text-center{
                                            text-align:center; 
                                        }

                                        .text-right{
                                            text-align:right; 
                                        }
                                        .head-pay{
                                            text-align: center !important;
                                            color:black !important;
                                            border: hidden !important;
                                        }
                                    }

                                    .payment-table-footer {
                                        margin: 32px 0 32px 0;
                                        padding-left:14px;
                                        padding-right:14px;

                                        tr {

                                            td {
                                                text-align: right;
                                                font-size: 15px;
                                                font-weight: 500; 
                                                border-bottom: none;
                                                padding: 8px 8px;

                                                &:first-child {
                                                    text-align: left;
                                                }
                                            }

                                            &.balancedue {

                                                td {
                                                    padding: 16px 8px;
                                                    border-top: 1px solid rgba(0, 0, 0, 0.12);
                                                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                                                    font-size: 24px;
                                                    font-weight: 500;
                                                    color: rgba(0, 0, 0, 1);
                                                }
                                            }
                                        }
                                    }

                                    .smallHeader{
                                        display:block; 
                                        width:100%;
                                        padding-left:18px;
                                        height:48px;
                                        line-height:48px;
                                        font-weight:500;
                                        font-size:16px;
                                        color:rgba(0,0,0,0.5);
                                        text-transform:uppercase;     
                                    }
                                }

                                .detail-footer {
                                    padding: 32px; 
                                    padding-right: 43px;
                                    padding-left: 18px;
                                    color: rgba(0, 0, 0, 0.54);

                                    .footerSegments{
                                        width:100%;

                                        .segmentHeader{
                                            display:block; 
                                            width:100%;
                                            height:48px;
                                            line-height:48px;
                                            font-weight:500;
                                            font-size:15px;
                                            color:rgba(0,0,0,0.5);
                                            text-transform:uppercase; 
                                        }

                                        .segmentContent{
                                            padding:0px ;
                                            font-weight:500;
                                            font-size:14px;
                                            color: black;

                                            .contactSegment:nth-child(2){
                                                margin-left:30px;
                                            }
                                        }   
                                    }

                                    .note {
                                        font-size: 15px;
                                        font-weight: 500;
                                        margin-bottom: 24px;
                                    }

                                    // IE10 fix
                                    .logo, .small-note {
                                        -ms-flex: 0 1 auto;
                                    }

                                    .brandlogo {
                                        width: 32px;
                                        min-width: 32px;
                                        height: 32px;
                                        margin-right: 24px;
                                    }

                                    .small-note {
                                        font-size: 12px;
                                        font-weight: 500;
                                        color: rgba(0, 0, 0, 0.54);
                                        line-height: 18px;
                                    }
                                }

                                .tag-content{
                                    padding: 0px 18px;
                                    .main{
                                        .tag-header{
                                            
                                            color: #928b8b;
                                            font-weight: 500;
                                        }
                                        .tag-items{
                                            font-weight: 500;
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }     
                        }
                    }
                }
            }
        }
    }
}

 .b{
    color:black;
 }