<md-dialog class="customDialogBox" aria-label="cusTool" style="width:500px;">
    <md-toolbar>
      <div class="md-toolbar-tools">
         <h2>CHANGE PASSWORD</h2>
         <span flex></span>
         <md-button href class="md-icon-button" ng-click="cancelChngPassword()">
            <md-icon  md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
         </md-button>
      </div>
    </md-toolbar>
    <form name="changepasswordForm" ng-submit="submitChangePassword()" autocomplete="off">
        <div class="dialogContent pad_32" layout="column">
            <md-input-container md-no-float class="md-block">
                <input required id="oldpassword" type="password" name="oldpassword" placeholder="Old Password" ng-model="changePasswordDetails.OldPassword">
                <div ng-messages="changepasswordForm.oldpassword.$error">
                    <div ng-message="required">please enter a valid password.</div>
                </div>
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input password-strength-indicator required id="newpassword" type="password" name="password" placeholder="New Password" ng-model="changePasswordDetails.Password">
                <div ng-messages="changepasswordForm.password.$error">
                    <div ng-message="required">please enter a valid password.</div>
                </div>
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input required id="confirmpassword" type="password" name="confirmpassword" placeholder="Confirm Password" ng-pattern={{changePasswordDetails.Password}} ng-model="changePasswordDetails.ConfirmPassword">
                <div ng-messages="changepasswordForm.confirmpassword.$error">
                    <div ng-message="pattern">password does not match your new password.</div>
                    <div ng-message="required">please enter a valid password.</div>
                </div>
            </md-input-container>
        </div>
        <div class="dialogFooter">
            <md-button ng-disabled="changepasswordForm.$invalid" type="submit" style="border:2px solid" class="md-primary">save</md-button>
        </div>
    </form>
</md-dialog>