<md-dialog id="dialogEmail" class="frmModal emailModal" aria-label="uploader" layout="column" layout-align="center start"  >
<ms-spinner-component name="pay-email-spinner" size="32" relative-position="false" spinner-text="" on-loaded="vm.payEmailSpinnerLoaded(spinnerApi)"></ms-spinner-component>

<ms-spinner-component name="pay-emailSend-spinner" size="32" relative-position="false"></ms-spinner-component>

    <md-toolbar class="tool-bar" >
        <div class="md-toolbar-tools">
            <h2>SEND PAYMENT</h2>
            <span flex></span>
            <md-button href class="md-icon-button" ng-click="vm.cancel()">
            <md-icon  md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
         </md-button>
        </div>
    </md-toolbar>
    
    <form name="cusForm" ng-submit="vm.sendMail()" style="width: 100%;min-height: 400px;"> 
         <md-content ms-scroll flex>
        <div class="content" ng-if="!vm.isLoading">
            <!-- <div ng-if="!vm.isLoading"> -->
           <!--  <div layout layout-sm="column" layout-margin class="inputHeight">
                <md-input-container flex md-no-float> 
                    <input type="text" name="send" ng-model="vm.Sender" placeholder="To" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" />
                    <div ng-messages="cusForm.send.$error">
                        <div ng-message="pattern">Please enter a valid email address!</div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-sm="column" layout-margin class="inputHeight">
                <md-input-container flex md-no-float> 
                    <input type="text" name="bccMail" ng-model="vm.bcc" placeholder="Bcc" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"/>
                    <div ng-messages="cusForm.bccMail.$error">
                        <div ng-message="pattern">Please enter a valid email address!</div>
                    </div>
                </md-input-container>
            </div> -->
            <div layout layout-sm="column" layout-margin >
            
                <md-chips flex ng-model="vm.to" class="md-primary" readonly="false" placeholder="To" delete-button- label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+To">
                </md-chips>
                <!--<md-input-container flex md-no-float> 
                    <input type="text" ng-model="vm.Sender" placeholder="To" />
                </md-input-container>-->
            </div>
            <div layout layout-sm="column" layout-margin >
                <md-chips flex ng-model="vm.bcc" class="md-primary" readonly="false" placeholder="Bcc" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Bcc">
                </md-chips>
                <!--<md-input-container flex md-no-float> 
                    <input type="text" ng-model="vm.bcc" placeholder="Bcc" />
                </md-input-container>-->
            </div>
            <div layout layout-sm="column" layout-margin class="inputHeight">
                <md-input-container flex md-no-float> 
                    <input type="text" ng-model="vm.subject" placeholder="Subject" />
                </md-input-container>
            </div>
            <div layout class="pre-tag" layout-sm="column" layout-margin layout-align="start center" >
               
            <div  ng-bind-html="vm.emailBody" style="white-space: pre;"></div>  
            </div>
            <div layout layout-sm="column" layout-margin class="inputHeight">
                <div  flex="35" class="attact-pdf">        
                    <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="vm.pdfCheck" class="md-primary">
                        Attach Payment
                    </md-checkbox>
                </div> 
                <div class="attachement-pill" layout="row" ng-show="vm.pdfCheck">
                    <div class="att-pill-icon">
                        <md-icon md-font-icon="icon-file-pdf" style="color:rgb(45, 98, 150)"></md-icon>
                    </div>
                    <div class="att-pill-cont" layout="row">
                        <span ng-bind="vm.test.receiptID"></span> 
                        <span>.pdf</span>
                    </div>
                </div>
            </div> 
       <!--  </div> -->
        </div>
    </md-content>
    
        <div class="footer"  > 
            <md-button flex="10" class="md-primary" style="border: 2px solid;" type="submit" ng-disabled="cusForm.$invalid || vm.disableBtn"  >
              send
            </md-button> 
        </div>

    </form>
</md-dialog>
