#dialogEmail{
	background: white; 
	width: 600px;
	overflow: hidden;

	.tool-bar{
		height : 48px;
		z-index: 50;
	}
	.content{
		width: 100%;
		padding: 25px;  

		.inputHeight{
                	height:48px;
                	font-size: 14px;

                	.attact-pdf{
                		padding-left: 5px;
                		font-weight: 500;
                		padding-top: 5px;
                	}
                	.pdf-icon{
                		padding: 5px;    
                                border-radius: 2px;
                		background-color: rgba(128, 128, 128, 0.16);
                	}
                	.pdf-name{
                		border: 1px dashed;
                		border-color: rgba(0, 0, 0, 0.27);
                        color: #2d6296;margin-left: -8px;
                        border-left: none;
                        border-radius: 2px;
                        padding: 12px;
                	}
                }
                .brochure-error{
                        height:48px;
                        font-size: 14px;
                        padding: 10px;
                        color :rgb(225,27,12);

                }
        .pre-tag{
        	.pre-text{
        		width: 100%;
	        	font-family: Roboto, 'Helvetica Neue', sans-serif;
	        	font-size: 14px;
                        white-space: pre;
                        padding-left: 30px;
        	}
        }
	}

	.footer{
		width:100%;
                padding:12px 24px;
                border-top:1px solid rgba(0, 0, 0, 0.12);

                button{
                    float:right;
                    margin:0px;
                }

                button:nth-child(2){
                    margin-right:12px;
                }
	}
}