<md-dialog class="customDialogBox frmModal"   aria-label="cusTool" style="width:800px;">

  <md-toolbar>
      <div class="md-toolbar-tools">
            <h2>{{vm.title}}</h2>
            <span flex></span>
            <md-button href class="md-icon-button" ng-click="vm.cancel()">
            <md-icon  md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
         </md-button>
        </div>
    </md-toolbar>
    <div class="dialogContent" layout="column" flex>
        <md-content ms-scroll flex>
            <form name="cusForm" ng-submit="vm.submit(vm.contact)">
            
                <div class="optional" >
                    <div class="details" layout="row" layout-align="space-between center">Customer Name </div>
                </div> 
                <div layout layout-sm="column" layout-margin class="pad_32 auto spacemaker" >
                    <md-input-container md-no-float id="accContainer" flex >
                            <input placeholder="Company or Individual Name" ng-model="vm.contact.profileName" autofocus ng-required="true">
                        </md-input-container>
                        <md-input-container md-no-float id="accContainer" flex >
                            <input placeholder="Email" type="email" ng-model="vm.contact.email" ng-required="true" name="email" ng-blur="validateEmail(vm.contact.email)"  ng-pattern="/^.+@.+\..+$/">
                        
                            <div ng-messages="cusForm.email.$error" role="alert" >
                            <div ng-message-exp="['required','pattern']">Please enter a correct e-mail address.</div>
                            <div ng-message="required" >This is required.</div>
                            </div>
                            <div>
                            <span ng-show="emailExsist" style="font-size: 13px; color: red;">Email Aready Exist
                            </span>
                            </div> 
                        </md-input-container>
                </div>
        
                <div class="optional" >
                    <div class="details" layout="row" layout-align="space-between center">Contact Person </div>
                </div> 
                <div layout layout-sm="column" layout-margin class="pad_32 auto spacemaker">
                    <md-input-container md-no-float id="accContainer" flex>
                            <input placeholder="First Name" id="accNo" ng-model="vm.contact.firstName">
                        </md-input-container>
                        <md-input-container md-no-float flex >
                            <input placeholder="Last Name" ng-model="vm.contact.lastName">
                        </md-input-container>
                </div>
                <div ng-show="vm.showBilling" >
                    <div class="optional" layout="row" >
                        <div class="details" layout="row" layout-align="space-between center">Billing Address</div>
                        <md-icon style="margin-left: 30px;" md-font-icon="icon-repeat" ng-click="vm.addressChange()"></md-icon>
                    </div> 
                    <div layout layout-sm="column" layout-margin class="pad_32">
                        <md-input-container md-no-float id="accContainer" flex >
                            <input placeholder="Street" id="accNo" ng-model="vm.contact.billingAddress.street" >
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column" layout-margin class="pad_32 auto spacemaker">
                        <md-input-container md-no-float id="accContainer" flex>
                            <input placeholder="City" id="accNo" ng-model="vm.contact.billingAddress.city" >
                        </md-input-container>
                        <md-input-container md-no-float id="accContainer" flex>
                            <input placeholder="State" id="accNo" ng-model="vm.contact.billingAddress.state">
                        </md-input-container>
                        </div>
                    <div layout layout-sm="column" layout-margin class="pad_32 auto">
                    <md-input-container md-no-float id="accContainer" style="padding-right: 20px" flex>
                                <input placeholder="Zip code" id="accNo" ng-model="vm.contact.billingAddress.zip" >
                            </md-input-container flexflex>
                            <md-autocomplete class="no-float md-floating-label"
                                style="margin-top: 0px; padding-left: 20px"
                                flex="" 
                                md-selected-item="vm.selectedItem" 
                                md-search-text="vm.billingSearch"
                                md-items="item in vm.billingquerySearch(vm.billingSearch)" 
                                md-item-text="item.country" 
                                md-floating-label="Country"
                                md-selected-item-change="vm.editBillingCountry(vm.selectedItem)">
                            <md-item-template>
                            <span>{{item.country}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div layout layout-sm="column" layout-margin class="pad_32">
                            <label style="margin-left:0px;">Do you want to use billing address as shipping address?</label>
                            <div style="margin-top:-12px;">
                                <md-switch ng-model="vm.cb" ng-change="vm.onChange(vm.cb)" aria-label="Switch 2" class="md-primary">
                                </md-switch>
                            </div>
                        </div>
                </div>
            
                <div ng-show="vm.showShipping" flex>
                
                
                <div class="optional" layout="row" >
                    <div class="details" layout="row" layout-align="space-between center">Shipping Address</div> 
                    <md-icon style="margin-left: 30px;" md-font-icon="icon-repeat" ng-click="vm.addressChange()"></md-icon>
                </div> 
                    <div layout layout-sm="column" layout-margin class="pad_32">
                        
                        <md-input-container md-no-float id="accContainer" flex >
                            <input placeholder="Street" id="accNo" ng-model="vm.contact.shippingAddress.s_street">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column" layout-margin class="pad_32 auto spacemaker">
                        <md-input-container md-no-float id="accContainer" flex>
                            <input placeholder="City" id="accNo" ng-model="vm.contact.shippingAddress.s_city">
                        </md-input-container>
                        <md-input-container md-no-float id="accContainer" flex>
                            <input placeholder="State" id="accNo" ng-model="vm.contact.shippingAddress.s_state">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column" layout-margin class="pad_32 auto">
                        <md-input-container md-no-float id="accContainer" style="padding-right: 20px;" flex>
                            <input placeholder="Zip code" id="accNo" ng-model="vm.contact.shippingAddress.s_zip">
                        </md-input-container>
                        <md-autocomplete class="no-float md-floating-label"
                        style="margin-top: 0px; padding-left: 20px;"
                                flex=""  
                                md-selected-item="vm.selectedItem1" 
                                md-search-text="vm.searchText"
                                md-items="item in vm.querySearch(vm.searchText)" 
                                md-item-text="item.country" 
                                md-floating-label="Country"
                                md-selected-item-change="vm.editShippingCountry(vm.selectedItem1)">
                        <md-item-template>
                        <span>{{item.country}}</span>
                        </md-item-template>
                    </md-autocomplete>
                    </div>
                
                </div> 
                <div class="optional" >
                    <div class="details" layout="row" layout-align="space-between center">Contact Information</div>
                </div> 
                <div layout layout-sm="column" layout-margin class="pad_32 auto spacemaker">
                    
                    <md-input-container md-no-float id="accContainer" flex >
                        <input name="phoneNo" placeholder="Phone" ng-model="vm.contact.phone" ng-pattern="/^[0-9 ()+-]+$/">
                            <div ng-messages="cusForm.phoneNo.$error" role="alert">
                                <div ng-message-exp="['required','pattern']">
                                    Your phone number should only include numeric values.
                                </div>
                            </div>
                    </md-input-container>
                    <md-input-container md-no-float id="accContainer" flex > 
                        <input name="Mobile" placeholder="Mobile" ng-model="vm.contact.mobile" ng-pattern="/^[0-9 ()+-]+$/">
                            <div ng-messages="cusForm.Mobile.$error" role="alert">
                                <div ng-message-exp="['required','pattern']">
                                    Your mobile number should only include numeric values.
                                </div>
                            </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" layout-margin class="pad_32 auto spacemaker">
                    <md-input-container md-no-float id="accContainer" flex> 
                            <input name="fax" placeholder="Fax" ng-model="vm.contact.fax" ng-pattern="/^[0-9 ()+-]+$/">
                            <div ng-messages="cusForm.fax.$error" role="alert">
                                <div ng-message-exp="['required','pattern']">
                                    Your fax number should only include numeric values.
                                </div>
                            </div>
                    </md-input-container>
                    <md-input-container md-no-float id="accContainer" flex>
                        <input placeholder="www.your-domain.com" id="accNo" ng-model="vm.contact.website" >
                    </md-input-container>
                </div>

                <!-- <div class="optional" layout="row" layout-align="start start">
                    <div class="details">Additional Details</div>
                </div> -->
                
                <div layout layout-sm="column" layout-margin class="pad_32 auto spacemaker">
                    <!--<md-input-container md-no-float id="accContainer" flex>
                        <input placeholder="Age" id="accNo" ng-model="vm.contact.age" >
                    </md-input-container>
                    <md-input-container md-no-float id="accContainer" flex>
                        <input placeholder="NIC" id="accNo" ng-model="vm.contact.NIC" >
                    </md-input-container>
                    ng-click="vm.addContact(vm.contact)"-->
                </div>

            
            
            

        
            </form>
        </md-content>
    </div>
    <div class="dialogFooter">
      <md-button type="submit"  style="border:2px solid" class="md-primary" ng-disabled="cusForm.$invalid" ng-click="vm.submit(vm.contact)">SAVE</md-button>
   </div>
</md-dialog>