<div class="estimate-container">
    <div class="detail-wrapper">
        <div class="detail-header" layout="row" layout-align="space-between start">
            <div class="ids" layout="column">
                <div layout="row" class="seller" layout-align="start center">
                    <div class="brandlogo" layout="row" layout-align="center center">
                        <img src="{{vm.companylogo}}" width="156" height="156">
                    </div>

                    <div class="divider"></div>
                    <div class="detail">
                        <div class="address">
                            <ms-address-component address-data="vm.ObjCompanyAddress" ent-type="'company'" align="left"></ms-address-component>
                        </div>
                    </div>
                </div>
                <div layout="row" class="client" layout-align="start center">
                    <div class="logo" layout="row" layout-align="center center">
                        <div>{{vm.est.profileName[0] | uppercase}}</div>
                    </div>
                    <div class="divider"></div>

                    <div class="detail">
                        <div class="address">
                            <ms-address-component address-data="vm.ObjCusAddress" ent-type="'client'" align="left"></ms-address-component>
                        </div>
                    </div>
                </div>
            </div>

            <table class="summary">
                <tr class="">
                    <td class="label"></td>
                </tr>
                <tr class="code">
                    <td class="label">ESTIMATE</td>
                    <td class="value">{{vm.est.estimateNo}}</td>
                </tr>
                <tr class="tableSpacer"></tr>
                <tr>
                    <td class="label cellSpacer">DATE</td>
                    <td class="value cellSpacer">{{vm.est.createDate|date}}</td>
                </tr>

                <tr>
                    <td class="label cellSpacer">VALIDITY</td>
                    <td class="value cellSpacer">{{vm.est.validity|date}}</td>
                </tr>

                <tr>
                    <td class="label cellSpacer">TERMS</td>
                    <td class="value cellSpacer">{{vm.est.paymentTerm}}</td>
                </tr>

                <tr>
                    <td class="label cellSpacer">CUSTOMER REF</td>
                    <td class="value cellSpacer">{{vm.est.customerRef}}</td>
                </tr>

                <tr>
                    <td class="label cellSpacer">CURRENCY</td>
                    <td class="value cellSpacer">{{vm.est.changedCurrency}}</td>
                </tr>
            </table>
        </div>

        <span class="invoiceComment">{{vm.est.comments}}</span>

        <div class="detail-content">
            <table class="invoice-table" style="width:100%">
                <thead class="tableHeader">
                    <th>#</th>
                    <th class="text-left">DESCRIPTION</th>
                    <th class="text-center">QUANTITY</th>
                    <th class="text-center">UOM</th>
                    <th class="text-center">UNIT PRICE</th>
                    <th class="text-center">DISCOUNT</th>
                    <th class="text-right">AMOUNT</th>
                </thead>

                <tbody class="tableBody">
                    <tr ng-repeat="items in vm.est.estimateProducts">
                        <td style="width:3%;">{{$index + 1}}</td>
                        <td class="text-left" style="width:35%">
                            <div class="title"> {{items.productName}}</div>
                            <div class="detail"> {{items.olp}}</div>
                        </td>
                        <td class="text-center" style="width:5%">
                            {{items.quantity}}
                        </td>
                        <td class="text-center" style="width:5%">
                            {{items.productUnit}}
                        </td>
                        <td class="text-center" style="width:15%">
                            {{items.price / vm.est.exchangeRate |number:2}}
                        </td>
                        <td class="text-center" style="width:8%">
                            {{items.discount}}%
                        </td>
                        <td class="text-right" style="width:15%">
                            {{items.amount / vm.est.exchangeRate |number:2}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="simple invoice-table-footer">
                <tbody>
                    <tr class="subtotal">
                        <td>SUBTOTAL</td>
                        <td></td>
                        <td>{{vm.est.subTotal / vm.est.exchangeRate| currency:vm.est.changedCurrency+' '}}</td>
                    </tr> 

                    <tr class="tax" ng-repeat="item in vm.est.taxAmounts">
                        <td>{{item.taxName | uppercase }}</td>
                        <td></td>
                        <td>{{item.salesTax / vm.est.exchangeRate| currency:vm.est.changedCurrency+' '}}</td>
                    </tr>
                    <tr class="shipping">
                        <td>SHIPPING</td>
                        <td></td>
                        <td>{{vm.est.shipping / vm.est.exchangeRate | currency:vm.est.changedCurrency+' '}}</td>
                    </tr>
                    <tr class="balancedue">
                        <td>TOTAL</td>
                        <td></td>
                        <td>
                            {{vm.est.netAmount / vm.est.exchangeRate | currency:vm.est.changedCurrency+' '}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="detail-footer">
            <div class="footerSegments" ng-show="vm.offinePayment">
                <span class="segmentHeader">PAYMENT INFORMATION</span>
                <div class="segmentContent">
                    <span ng-bind-html="vm.offinePayment"></span>
                </div>
            </div>
            <div class="footerSegments">
                <span class="segmentHeader">Notes</span>
                <div class="segmentContent">
                    <span ng-bind-html="vm.est.notes"></span>
                </div>
            </div>
            <div class="footerSegments" ng-if="vm.est.customFields.length">
                <span class="segmentHeader">Additional Information</span>
                <div class="segmentContent" layout="column">
                    <div ng-repeat="cus in vm.est.customFields">
                        <span ng-show="cus.value" class="contactSegment" flex>{{cus.labelShown}} : {{cus.value}}</span>
                    </div>
                </div>
            </div>
            <div class="footerSegments" ng-if="vm.showShippingInDetailsView">
                <span class="segmentHeader">Shipping Information</span>
                <div class="segmentContent">
                    <span ng-show="vm.est.shippingAddress.s_street">{{vm.est.shippingAddress.s_street}}</span>
                    <span ng-show="vm.est.shippingAddress.s_city">,&nbsp;{{vm.est.shippingAddress.s_city}}</span>
                    <span ng-show="vm.est.shippingAddress.s_state">,&nbsp;{{vm.est.shippingAddress.s_state}}</span>
                    <span ng-show="vm.est.shippingAddress.s_zip">,&nbsp;{{vm.est.shippingAddress.s_zip}}</span>
                    <span ng-show="vm.est.shippingAddress.s_country">,&nbsp;{{vm.est.shippingAddress.s_country}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-break"></div>

</div>