#inventory {
    .center {
        .content-card {
        overflow-x:hidden;
            .compose {
                .mainsection {
                    .composeform {
                        font-size:15px; 
                        width:100%;
                        .formWrapper {
                            min-width: 100%;
                            .maininfosection {
                                padding-left: 35px;
                                padding-right: 40px;
                                .customerinfo {
                                    .formWrapper {
                                        width: 100%;
                                        .mainDetails {
                                            min-width: 100%;
                                            margin-left: 0px !important;
                                            md-autocomplete.no-float > md-autocomplete-wrap > md-input-container {
                                                font-size: 18px;
                                                min-width: 100%;
                                                > label {
                                                    -webkit-transform: translate3d(1px, 28px, 0) scale(1) !important;
                                                    transform: translate3d(1px, 28px, 0) scale(1) !important;
                                                    color: #BDBDBD;
                                                }
                                                &.md-input-has-value > label {
                                                    display: none !important;
                                                }
                                            }
                                        }
                                    }
                                    .formWrapper {
                                        min-width: 100%;
                                        .customeraddress {
                                            background: #F6F6F6;
                                            width: 100%;
                                            .addressheader {
                                                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                                width: 100%;
                                                span {
                                                    padding-left: 6px;
                                                    line-height: 40px;
                                                    width: calc(100% - 52px);
                                                    font-weight: 500;
                                                    font-size: 16px;
                                                    color: #717171;
                                                }
                                            }
                                            .addressinfo {
                                                width:100%;
                                                height:141px; 
                                                font-size:16px;
                                                color:rgba(0,0,0,0.4);
                                                span{
                                                    text-align: center
                                                }
                                            }
                                        }
                                    }
                                }
                                .inventoryInfo {
                                    padding-left: 0px;
                                    .formWrapper {
                                        .documentid {
                                            padding-top: 45px;
                                            font-size: 18px;
                                            width: 100%;
                                        }
                                        .otherInfo {
                                            font-weight: normal;
                                            padding-top: 45px;
                                            .otherInfoText {
                                                padding-left: 50px;
                                                > md-input-container {
                                                    margin-top: 0px;
                                                    margin-bottom: 10px;
                                                    > label {
                                                        -webkit-transform: translate3d(1px, 28px, 0) scale(1) !important;
                                                        transform: translate3d(1px, 28px, 0) scale(1) !important;
                                                        color: #BDBDBD;
                                                    }
                                                    &.md-input-has-value > label {
                                                        display: none !important;
                                                    }
                                                }
                                            }
                                            .dateHolder {
                                                span {
                                                    margin-left: 52px;
                                                    font-size: 15px;
                                                    font-weight: 500;
                                                    // color:rgb(45,98,150);
                                                    color: #3c3c3c;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .formWrapper {
                            .lineitems {
                                font-weight: bold;
                                min-width: 100%;
                                padding-left: 52px;
                                padding-right: 80px;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                border-top: 1px solid rgba(0,0,0,.08);
                                border-bottom: 1px solid rgba(0,0,0,.08);
                                .list-items-header {
                                    color: #2D6296;
                                    font-weight: 500;
                                    font-size: 15px;
                                }
                            }
                        }
                        .line-items-container {
                            .line-item {
                                background-color: #F6F6F6;
                                height: 40px;
                                font-weight: normal;
                                // padding-left: 12px;
                                position: relative;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                                text-transform: none;
                                cursor: pointer;
                                &.line-item-placeholder {
                                    background: rgba(0, 0, 0, 0.12);
                                    * {
                                        opacity: 0;
                                    }
                                }
                                .info {
                                    width: 100%;
                                    padding: 24px 0px;
                                    padding: 8px 0px;                                  
                                    font-size: 16px;
                                    .item-value {
                                         &.two-line{

                                            span:nth-child(1){
                                                font-weight:500;
                                                font-size:16px;
                                            }

                                            span:nth-child(2){
                                                font-size:12px; 
                                            }
                                        }
                                        
                                        &.left {
                                            font-weight: 500;
                                            text-align: left;
                                        }
                                        &.center {
                                            text-align: center;
                                        }
                                        &.right {
                                            text-align: right;
                                        }
                                    }
                                }
                            }
                        }
                        .formWrapper {} .toolbarCompose {
                            padding: 32px;
                            width: 100%;
                            span {
                                color: rgba(0, 0, 0, 0.87);
                            }

                            .additionalDetails{
                                width:100%;

                                md-input-container{
                                    margin-top:0px;
                                    margin-bottom:0px;   
                                }

                                // md-input-container:nth-child(1){
                                //     padding-right:16px;
                                // } 

                            }
                        }
                        .toolbarComposeHeader {
                            background-color: #F6F6F6;
                            height: 48px;
                            font-size: 16px;
                            span {
                                color: rgb(45,98,150);
                            }

                            .details{
                                background:#f6f6f6;
                                font-size:18px;
                                height:48px;
                                line-height:48px;
                                padding:0px 32px;
                            }

                        }
                        .chip-class {
                            .md-chips.md-default-theme md-chip, md-chips md-chip {
                                background: rgb(51, 94, 139);
                                color: rgb(213, 213, 213);
                            }
                            .md-chips.md-default-theme md-chip md-icon, md-chips md-chip md-icon {
                                color: rgb(255, 255, 255);
                            }
                        }
                        .toolbarCompose {
                            span {
                                color: rgba(0, 0, 0, 0.87);
                            }
                            .contact-no-block {
                                padding-right: 90px;
                            }
                            > md-input-container {
                                > label {
                                    -webkit-transform: translate3d(1px, 28px, 0) scale(1) !important;
                                    transform: translate3d(1px, 28px, 0) scale(1) !important;
                                    color: #BDBDBD;
                                }
                                &.md-input-has-value > label {
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
            }
            .footersection {
                width:100%;
                min-height: 65px;
                padding:12px 24px;
                border-top: 1px solid rgba(0, 0, 0, 0.12);
            }
        }
    }
}