<div id="inventory" class="page-layout carded boxed right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" layout="column" layout-align="center center" flex>

        <ms-spinner-component name="grn-compose-spinner1" size="32" relative-position="false" spinner-text=""></ms-spinner-component>

        <!-- CONTENT-CARD -->
        <div class="content-card" layout="column" flex>

            <!-- PRIMARY TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                    <md-button class="md-icon-button close-thread" aria-label="Back" ng-click="vm.toggleChildStates('app.inventory.grn')">
                        <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                    </md-button>

                    <div class="divider-vertical"></div>

                    <h2>New Goods Received Note</h2>
                </div>
                <div layout="row" layout-align="start center">

                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content flex ms-scroll>

                <!--<ms-spinner-component name="grn-compose-spinner" size="64" register="false" on-loaded="vm.grnComposeSpinnerLoaded(spinnerApi)"></ms-spinner-component>-->

                <!-- DEMO CONTENT -->
                <div ng-include="'app/main/inventory/views/grn/compose/grnComposeChild.html'"></div>
                <!-- / DEMO CONTENT -->

            </md-content>
            <!-- / CONTENT -->

            <div class="footersection" layout="row" layout-align="end center">
                <md-button class="md-primary md-hue-3" ng-click="vm.cancel()" style="border:2px solid">cancel</md-button>
                <md-button class="md-primary" ng-click="vm.submit()" style="border:2px solid">save</md-button>

            </div>
        </div>
        <!-- /CONTENT-CARD-->

    </div>
    <!-- /CENTER -->

</div>