<style>
	.dummyContainerLarge{
		width:300px;
		min-height:400px;
		height:auto;
		border:1px solid red;
	}
	
	.dummyContent{
		position:relative; 
	}

	.sampleListItemContainer{
		width:960px;
	}
</style>
<div id="playground" class="page-layout simple fullwidth" layout="column" layout-align="center center">
	
	<!-- CONTENT -->
    <div class="content" layout="column" layout-align="center center">

		<!-- Recurly Form start -->
		<!-- <section>
			<figure class="logo">
				<span class="price">$10</span>
				<span class="term">monthly</span>
			</figure>
		</section> -->
		<!-- Recurly Form end -->


		<!-- <md-input-container md-no-float   style=" margin-top:-1px;">
        	<input placeholder="Product Value" type="number" ng-model="vm.sampleDecimalVal" ng-required="true" name="productvalue"/>
            <div ng-messages="productvalue.$error">
            	<div ng-message="required">This is required.</div>
            </div>
        </md-input-container> -->

    	<!-- <md-button class="md-primary md-raised" ng-click="vm.holiwar()">Hey Click me</md-button> -->

        <!--<div class="comingsoonBannerContainer md-whiteframe-1dp" layout="column" layout-align="center center" style="width:450px; background:#fff; padding:32px;">
  			<img src="assets/images/branding/coming_soon_apps.png" width="153" height="97">
  			<span style="margin-top: 18px; font-size:15px; ">Hello there, our team is working on releasing this feature very soon, please stay tuned !</span>
  		</div>-->
		  

		  <!--<span>Currency Switched Status - </span><span>{{vm.currentCurrencyModel.currencyStatus}}</span>

		  <span>Base Currency - </span><span>{{vm.currentCurrencyModel.baseCurrency}}</span>

		  <span>Active Currency - </span><span>{{vm.currentCurrencyModel.currencyType}}</span>

		  <span>Active Exchange Rate - </span><span>{{vm.currentCurrencyModel.exchangeRate}}</span>

		  <ms-currency-switcher currencydefaults="vm.currentCurrencyModel"></ms-currency-switcher>-->

		  <!--<div style="width:80px; height:80px;">
				<ms-spinner-component name="playgroundSpinner1" size="64" register="true" show="true"></ms-spinner-component>
		  </div>
		  <div style="width:40px; height:40px;">
				<ms-spinner-component name="inv-com-spinner" size="32" register="true" show="true"></ms-spinner-component>
		  </div>
		  <div style="width:200px; height:100px; border:1px solid red">
			<md-button class="md-raised md-primary" ng-click="vm.spinnerComponent.hide('playgroundSpinner1')">Off spinner 1</md-button>
			<md-button class="md-raised md-secondary" ng-click="vm.spinnerComponent.hide('inv-com-spinner')">Off spinner 2</md-button>
		  </div>-->

		  <!--<spinner name="spinner5" group="baz" img-src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/10607/spinner2.gif"></spinner>

		  <md-button class="md-raised md-primary" ng-click="vm.spinnerService.show('spinner5')">On spinner 2</md-button>

		  <md-button class="md-raised md-warn" ng-click="vm.spinnerService.hide('spinner5')">Off spinner 2</md-button>-->
		  


		  <!-- Angular Busy Loader Implementation -->

		<!--<spinner name="html5spinner" ></spinner>-->

		<!-- <h1>{{vm.sampleValueAbsolute | valRndUp}}</h1>

		<h1>{{vm.sampleQunatityAbsolute | qtyRndUp}}</h1>

		<h1>{{vm.sampleUPAbsolute | unitPriceRndUp}}</h1> -->

		<!-- <div class="dummyContainerLarge" layout="column" layout-align="start center">
			<ms-spinner-component name="testSpinner" size="128" relative-position="false" spinner-text="hi you are nice !"></ms-spinner-component>
			
			<h1>{{vm.businessContextBiteInfo.totalSales}}</h1>
		</div> -->

		<!--<ms-spinner-component name="lalala"></ms-spinner-component>-->

		<!-- <md-button class="md-primary md-raised" ng-click="vm.login()">log issue !</md-button> -->

		<!-- <div class="sampleListItemContainer">
			<ms-empty-state-component state-context="'list'" state-message="'Please check your self'"></ms-empty-state-component>
		</div> -->


    </div>
    <!-- / CONTENT -->

</div>