<table class="simple" ng-hide="vm.customerContextLatestDocuments | isEmptyObj">
    <thead>
        <tr>
            <th>
                Invoice No
            </th>
            <th>
                Issue Date
            </th>
            <th>
                Due Date
            </th>
            <th>
                Net Amount
            </th>
            <th>
                Balance
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="row in vm.customerContextLatestDocuments">
            <td>
                <span class="360documentNavigator" ng-click="vm.threeSixtyNavigateToDocument('invoice', row.invoiceNo)" style="cursor:pointer; text-decoration: underline;">{{row.invoiceNo}}</span>
            </td>
            <td>
                <span>{{row.startDate | toDateObject | date:'mediumDate'}}</span>
            </td>
            <td>
                <span>{{row.dueDate | toDateObject | date:'mediumDate'}}</span>
            </td>
            <td>
                <span>{{row.netAmount}}</span>
            </td>
            <td>
                <span>{{row.balance}}</span>
            </td>
            <td>
                <span>{{row.invoiceStatus}}</span>
            </td>
        </tr>
    </tbody>
</table>
<div layout="row" layout-align="center center" class="recdentDocEmptyStatus" ng-show="vm.customerContextLatestDocuments | isEmptyObj">
    <p>Records not available!</p>
</div>