<div id="timesheetCompose" class="page-layout carded boxed right-sidenav" layout="row">

	<!-- CENTER -->
	<div class="center" layout="column" layout-align="center center" flex>

		<!-- CONTENT-CARD -->
		<form class="content-card" layout="column" flex name="timesheetForm" ng-submit="vm.submit()">

			<!-- PRIMARY TOOLBAR -->
			<div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                    <md-button class="md-icon-button close-thread" aria-label="Back"
                               ng-click="vm.toggleChildStates('app.projects.timesheet')">
                        <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                    </md-button>

                    <div class="divider-vertical"></div>

                    <h2>Log Time</h2>
                </div>
                <div layout="row" layout-align="start center">
                    
                </div>
            </div>
                <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content flex ms-scroll>

                <!-- DEMO CONTENT -->  
                <div ng-include="'app/main/projects/views/timesheet/compose/timesheetNew.html'"></div>
                <!-- / DEMO CONTENT -->

            </md-content>
            <!-- / CONTENT -->


            <div class="footersection" layout="row">  
                <div flex="80" layout="column">
                    <span style="color:#ad0000;" ng-show="vm.showMsg" >{{vm.errorMsg}}</span>
                </div>
                <md-button flex layout="column" class="md-primary md-hue-3" style="border:2px solid" ng-disabled="vm.submitProgress" ng-click="vm.toggleChildStates('app.projects.timesheet')">cancel</md-button>
                <md-button flex layout="column" class="md-primary" style="border:2px solid" ng-disabled="vm.submitProgress || timesheetForm.$invalid" type="submit">save</md-button>
            </div>
		</form>
		<!-- /CONTENT-CARD-->

	</div>
	<!-- /CENTER -->

</div>