 

<div id="creditnotesCompose" class="page-layout carded boxed right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" layout="column" layout-align="center center" flex>

        <!-- CONTENT-CARD -->
        <div class="content-card" layout="column" flex>

            <!-- PRIMARY TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                    <md-button class="md-icon-button close-thread" aria-label="Back" ng-click="vm.toggleChildStates('app.creditnotes.cre')">
                        <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                    </md-button>

                    <div class="divider-vertical"></div>

                    <h2>New Credit Note</h2>
                </div>
            </div>
            <!-- /PRIMARY TOOLBAR -->
          
            <ms-spinner-component name="cre-compose-spinner" size="32"  relative-position="false"></ms-spinner-component>
          
            <!-- CONTENT -->
            <md-content flex ms-scroll>

                <!-- DEMO CONTENT -->  
                <div ng-include="'app/main/creditnotes/views/compose/creComposeForm.html'"></div>
                
                <!-- / DEMO CONTENT -->

            </md-content>
            <!-- /CONTENT -->
            <div class="footersection" > 
                <md-button class="md-primary"  ng-click="vm.submit()" style="border:2px solid" ng-disabled="vm.validateInvoice || vm.saveDis" >save</md-button>
                <md-button class="md-primary md-hue-3" ng-disabled="vm.saveDis" ng-click="vm.cancel()" style="border:2px solid">cancel</md-button>
            </div>
        </div>
        <!-- /CONTENT-CARD-->

    </div>
    <!-- /CENTER -->

</div>
