<div id="invoices" class="page-layout carded boxed right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" layout="column" layout-align="center center" flex>

        <div class="content-card" layout="column">
            <!-- PRIMARY TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center" ng-show="vm.primaryToolbarContext">
                <div layout="row" layout-align="start center">
                    <md-button class="md-primary" ng-click="vm.toggleChildStates('app.invoices.inv')">
                        Invoices
                    </md-button>
                    <div class="divider-vertical"></div>
                    <md-button class="md-primary md-hue-3" ng-click="vm.toggleChildStates('app.invoices.rec')">
                        Recurring Profiles
                    </md-button>
                </div>
                <div layout="row" layout-align="start center">
                    <md-button class="md-primary border" style="border:2px solid;" ng-click="vm.toggleChildStates('app.invoices.compose')" ms-perm-elem perm-context="'Invoices'" perm-action="'add'">
                        <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
                        Add New
                    </md-button>
                </div>
            </div>
            <!-- / PRIMARY TOOLBAR -->

            <!-- SECONDARY TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">

                    <!-- THREAD LIST SPECIFIC ACTIONS -->
                    <!-- / THREAD LIST SPECIFIC ACTIONS -->

                    <!-- SINGLE THREAD SPECIFIC ACTIONS -->
                    <md-button class="md-icon-button close-thread" aria-label="Back"
                               ng-click="vm.closeThread()" ng-if="vm.currentThread">
                        <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                    </md-button>
                    <!-- / SINGLE THREAD SPECIFIC ACTIONS -->

                    <!-- ACTION BUTTONS -->

                    <div class="filter-buttons" layout="row" layout-align="start center" ng-hide="vm.selectedThreads.length > 0 || vm.currentThread" hide show-gt-xs>

                        <md-menu>
                              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                 <md-icon md-font-icon="icon-sort-variant"></md-icon>
                              </md-button>
                              <md-menu-content width="4">
                                <md-menu-item ng-repeat="item in vm.sortarr">
                                <md-button ng-click="vm.starfunc(item,$index)">
                                 <div layout="row">
                                   <p flex>{{item.name}}</p>
                                  <div>
                                     <md-icon md-font-icon="icon-chevron-up" style='margin-top:4px; position: absolute; left: 150px;' ng-show='item.upstatus'></md-icon>
                                  </div>
                                  <div>
                                     <md-icon md-font-icon="icon-chevron-down" style='margin-top:9px;position: absolute; left: 150px;' ng-show='item.downstatus'></md-icon>
                                  </div>
                                </div>
                                </md-button>
                                <div ng-click="vm.defaultCancel(item)" style="width: 18px;z-index: 10;margin-left: -45px; margin-top: 15px;position: relative;" ng-show='item.close'>
                                   <md-icon md-font-icon="icon-close-circle" style='width: 18px;
                                      margin-top:-4px;'></md-icon>
                                </div>
                                </md-menu-item>
                              </md-menu-content>
                            </md-menu>
                    
                        <div class="divider-vertical"></div>

                       <md-button class="md-icon-button" aria-label="All" ng-click="vm.removeFilters()">
                            <md-icon md-font-icon="icon-multiplication"></md-icon>
                            <md-tooltip><span>All</span></md-tooltip>
                        </md-button>
                         <md-button class="md-icon-button" aria-label="Viewed" ng-click="vm.sortInvoiceNo()">
                            <md-icon md-font-icon="icon-eye"></md-icon>
                            <md-tooltip><span>Viewed</span></md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="vm.favouriteInvoices()" aria-label="Favourite">
                            <md-icon md-font-icon="icon-star"></md-icon>
                            <md-tooltip><span>Favourite</span></md-tooltip>
                        </md-button>

                    </div>
                </div>

                 <ms-paging ng-show="vm.primaryToolbarContext" page-obj='vm.pageObj' result="vm.invoiceSummary" page-gap="vm.pageGap"></ms-paging>

                <div layout="row" layout-align="start center" ng-hide="vm.primaryToolbarContext">

                    <md-button ng-if="vm.inv.invoiceStatus=='Pending'" class="md-primary" ng-click="vm.approve(vm.inv)" style="border:2px solid">APPROVE</md-button>

                    <md-button class="md-icon-button" aria-label="Print" ng-click="vm.printPdf()">
                        <md-icon md-font-icon="icon-printer"></md-icon>
                        <md-tooltip><span>Print</span></md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Download" ng-click="vm.DownloadPDF()">
                        <md-icon md-font-icon="icon-download"></md-icon>
                        <md-tooltip><span>Download</span></md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="Email" ng-click="vm.emailCustomer()">
                        <md-icon md-font-icon="icon-email"></md-icon>
                        <md-tooltip><span>Email</span></md-tooltip>
                    </md-button>

                    <!-- <ms-Sms-Notification-Button ng-if="!vm.primaryToolbarContext"></ms-Sms-Notification-Button> -->
                    
                    <ms-sidebar-history-comments-remote ng-if="!vm.primaryToolbarContext" ng-hide="$mdMedia('gt-md')"></ms-sidebar-history-comments-remote>

                    <md-menu class="actions-menu">
                        <md-button class="md-icon-button"
                                   ng-click="$mdOpenMenu($event)"
                                   aria-label="Invoice Actions">
                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            <md-tooltip><span>Actions</span></md-tooltip>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ms-perm-elem perm-context="'Payments'" perm-action="'add'"
                            ng-if="vm.inv.invoiceStatus != 'Cancelled'">
                                <md-button aria-label="Payment" ng-click="vm.enterPayment(item)">
                                    <md-icon md-font-icon="icon-cash-100"></md-icon>
                                    <span>Enter Payment</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ms-perm-elem perm-context="'Invoices'" perm-action="'add'">
                                <md-button aria-label="Copy" ng-click="vm.copyInvoice(item)">
                                    <md-icon md-font-icon="icon-alert-octagon"></md-icon>
                                    <span>Copy</span>
                                </md-button>
                            </md-menu-item>

                             <md-menu-item ms-perm-elem perm-context="'Invoices'" perm-action="'cancel'" ng-if="vm.inv.invoiceStatus != 'Cancelled'">
                                <md-button aria-label="Copy" ng-click="vm.cancelStatus()">
                                    <md-icon md-font-icon="icon-alert-octagon"></md-icon>
                                    <span>Cancel</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ms-perm-elem perm-context="'Invoices'" perm-action="'add'">
                                <md-button aria-label="Move To" ng-click="vm.gotoRecurringProfile(item)">
                                    <md-icon md-font-icon="icon-folder-move"></md-icon>
                                    <span>Copy as Recurring</span>
                                </md-button>
                            </md-menu-item>
                            <!-- ng-show="showCreditNote" -->
                            <md-menu-item ng-show="vm.IsCreditNoteReady" 
                            ng-if="vm.inv.invoiceStatus != 'Cancelled'">
                                <md-button aria-label="Labels" ng-click="vm.creditNote(item)" >
                                    <md-icon md-font-icon="icon-folder-move"></md-icon>
                                    <span>Credit Note</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="vm.inv.invoiceStatus != 'Cancelled' && vm.inv.invoiceStatus != 'Paid'">
                                <md-button aria-label="Move To" ng-click="vm.sendReminder(item)">
                                    <md-icon md-font-icon="icon-email"></md-icon>
                                    <span>Send Reminder</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
            <!-- / SECONDARY TOOLBAR -->

            <!-- CONTENT WRAPPER -->
            <div class="content-wrapper" layout="column" flex>

                <!-- ITEM DETAIL -->
                <div class="content thread-detail"
                     ng-if="vm.currentThread"
                     ng-include="'app/main/invoices/views/inv/detail/inv-detail.html'" ms-scroll flex>
                </div>
                <!-- / ITEM DETAIL -->

                <!-- ITEM LIST -->
                <div class="content item-list"
                     ng-if="!vm.currentThread"
                     ng-include="'app/main/invoices/views/inv/list/inv-list.html'" ms-scroll flex>
                </div>
                <!-- / ITEM LIST -->

            </div>
            <!-- / CONTENT WRAPPER-->
        </div>

    </div>
    <!-- / CENTER -->
    <ms-sidebar-history-comments ng-if="!vm.primaryToolbarContext" application="'invoice'"></ms-sidebar-history-comments>

</div>