<div id="unautherized" class="page-layout simple fullwidth" layout="column" layout-align="center center">
	
	<!-- CONTENT -->
    <div class="content" layout="column" layout-align="center center">

    	<div class="comingsoonBannerContainer md-whiteframe-1dp" layout="column" layout-align="center center" style="width:450px; background:#fff; padding:32px;">
			<img src="assets/images/branding/restrictedLogo.png" width="153" height="67">
			<span style="margin-top: 18px; font-size:15px; ">Hello there, seems like you dont have access to this page.</span>
		</div>

    </div>
    <!-- / CONTENT -->

</div>