<div class="toolbar" layout="row" layout-align="start center">
	<md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('settingsidenav')" hide-gt-md aria-label="Toggle left sidenav">
		<md-icon md-font-icon="icon-menu" class="icon"></md-icon>
	</md-button>
	<h1>Users Settings</h1>
</div>
<div id="setting" class="contentsection" layout="column" flex>

	<ms-spinner-component name="setting-loadUsersDetails-spinner" size="32" relative-position="false" on-loaded="vm.settingLoadUsersDetailsSpinnerLoaded(spinnerApi)"></ms-spinner-component>
 
	<md-content class="md-content" ms-scroll flex>

			<div ng-include="'app/main/settings/views/usersview/usersForm.html'" ></div>

	</md-content>
    
</div>